h2 {
    color: #5fcffc;
    background-color: rgb(255,200,200);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: rgb(229, 158, 26);
}

body {
    background-color: #c5e;
}