<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ipsum saepe, cupiditate exercitationem fuga velit numquam quam labore ipsa neque doloribus vero ea consectetur libero dicta consequatur nihil eius sunt?
        Assumenda quidem quia tempora nobis ipsa unde, sunt iure delectus, autem error quam eaque deleniti omnis ut ex quod sed reprehenderit cupiditate fugit optio consequatur. Tenetur nisi ullam aperiam? Neque!
        Molestiae sunt, nesciunt nemo ex iure repudiandae. Explicabo tempore enim sint quasi perspiciatis nihil vel rerum illo velit vitae natus quae qui, deserunt eligendi ipsum, quidem quia facilis. Soluta, itaque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate, consequuntur iure ad cum commodi velit consectetur, suscipit totam corporis iusto voluptas, qui facilis. Sed et non facilis adipisci repellat.
        Temporibus ratione nisi dignissimos et, optio autem consequatur id deleniti non veritatis, accusantium magni quo, laudantium dolorem a similique doloremque. Omnis reiciendis, expedita doloremque repellendus quasi assumenda fugiat qui cupiditate.
    </p>
</body>
</html>